<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex h-screen w-screen flex-col items-center justify-center">
      <h1 class="my-3 text-4xl text-red-500">Counters</h1>
      <div class="flex gap-4">
        <div>
          <a href="/react-counter" class="border-2 border-blue-300 py-2 px-4"
            >React counter</a
          >
        </div>
        <div>
          <a href="/solid-counter" class="border-2 border-blue-300 py-2 px-4"
            >Solid Counter</a
          >
        </div>
      </div>
      <h1 class="my-3 mt-9 text-4xl text-red-500">Pokemon Lists</h1>
      <div class="flex gap-4">
        <div>
          <a href="/react-pokemon" class="border-2 border-blue-300 py-2 px-4"
            >React pokemon</a
          >
        </div>
        <div>
          <a href="/solid-pokemon" class="border-2 border-blue-300 py-2 px-4"
            >Solid pokemon</a
          >
        </div>
        <div>
          <a
            href="/solid-pokemon-hack"
            class="border-2 border-blue-300 py-2 px-4">Solid pokemon Hack</a
          >
        </div>
        <div>
          <a
            href="/solid-pokemon-eff"
            class="border-2 border-blue-300 py-2 px-4"
            >Solid pokemon Data structure</a
          >
        </div>
        <div>
          <a href="/pokemon-baseline" class="border-2 border-blue-300 py-2 px-4"
            >Base line</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
